/* Bring alongUI colors into docs */
:root {
  --al-bg-color: #F5F5F7;
  --al-bg-color-overlay: #FFFFFF;
  --al-text-color-primary: #1D1D1F;
  --al-text-color-regular: #3A3A3C;
  --al-text-color-secondary: #6E6E73;
  --al-border-color: #D2D2D7;
  --al-border-color-light: #E5E5EA;
  --al-border-radius-small: 6px;
  --al-border-radius-medium: 8px;
  --al-border-radius-large: 12px;
}
